@import './colors';

.button {
  transition: all 0.3s ease-out;
  margin-inline: auto;
  padding: 1rem;
  border-radius: 2vh;
  text-decoration: underline;
  max-width: max-content;
  color: $color-dark;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;

  position: relative;
  isolation: isolate;
  overflow: hidden;

  box-shadow: 0 3px 10px -5px $color-dark--300;

  &:active {
    box-shadow: inset 0 3px 10px -5px $color-dark--300;
  }
  &:hover,
  &:focus-visible {
    transition: all 0.3s ease-out;
    color: $color-add;
    background-color: $color-button--300;
  }

  & span {
    position: absolute;
    width: 33.333%;
    height: 100%;
    background: transparent;
    opacity: 0.5;
  }

  & > :first-child {
    left: 0;
    top: 0;
  }

  & > :last-child {
    right: 0;
    top: 0;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: $color-add;
    width: 10%;
    aspect-ratio: 1;
    border-radius: 50%;
    inset: 0;
    margin: auto;
    opacity: 0;
    transition:
      transform 1000ms 100ms,
      opacity 300ms;
  }

  &:active::before {
    transform: scale(20);
    opacity: 0.5;

    transition:
      transform 500ms,
      opacity 300ms;
  }

  &:has(:first-child:active)::before {
    margin-left: 0;
  }

  &:has(:last-child:active)::before {
    margin-right: 0;
  }

  &:has(:first-child:active)::before,
  &:has(:last-child:active)::before {
    transition:
      transform 500ms,
      opacity 250ms;
  }
}
