$color-white: #ffffff;
$color-button: rgba(255, 204, 204);
$color-button--300: rgba(255, 204, 204, 0.1);
$color-dark: #242424;
$color-dark--300: rgba(36, 36, 36, 0.3);
$color-add: #339999;
$color-add--300: rgba(51, 153, 153, 0.3);
$color-third: rgba(60, 30, 70, 1);
$color-third--300: rgba(60, 30, 70, 0.3);
$color-background--blue: #ccffff;
$color-background--yellow: #ffffcc;
$color-background--pink: #ff99ee;
