@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@/UI/sass/colors.scss';
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

:root {
  --foreground-rgb: 20, 20, 20;
  --background-start-rgb: 240, 240, 240;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main section:first-child {
  padding: 0;
}

button:hover,
a:hover,
svg:hover,
button:focus-visible,
a:focus-visible,
svg:focus-visible {
  transition: all 0.3s ease-out;
  color: $color-add;
}

button,
a,
svg {
  transition: all 0.3s ease-out;
}
