@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 20, 20, 20;
  --background-start-rgb: 240, 240, 240;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

button:hover,
a:hover,
svg:hover {
  transition: all 0.3s ease-out;
  color: #49863a;
}

button,
a,
svg {
  transition: all 0.3s ease-out;
}
