.title {
  margin-bottom: 50px;
  text-align: center;
}

.price {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &::before {
    content: '';
    z-index: 0;
    width: 180px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(-45deg, #13547a, #1f2937);
    background-position: -20% 40%;
    background-size: cover;

    @media screen and (max-width: 768px) {
      z-index: -1;
    }
  }
}

.price__list {
  padding-inline: 1rem;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  & > li:nth-child(2) {
    padding: 5% 0 0 12%;

    @media screen and (max-width: 768px) {
      padding: 5% 0;
    }
  }

  & > li:nth-child(3) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  & > li:nth-child(4) {
    padding: 20% 12% 0 0;

    @media screen and (max-width: 768px) {
      padding: 5% 0;
    }
  }

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}
